a {
    color: gray;
    text-align: right;
    float: right;
}

p {
    text-align: center;
}

h1 {
    color: darkcyan;
    font-size: 30px;
    margin-left: 0;
    margin-top: 30px;
    padding: 10px;
}

form {
    box-sizing: border-box;
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 90px;
    margin-left: 30px;
}

header {
    background-color: white;
}

body {
    background: lightgray;
}

.navbar {
    height: 40px;
}

.navName {
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
 }

 .navAbout {
     justify-content: space-between;
     margin: 10px;
     color: white;
 }

 .navPortfolio {
     justify-content: space-between;
     margin: 10px;
     color: white;
 }

.navContact {
    justify-content: space-evenly;
    margin: 10px;
    color: white;
}

.form-group {
    width: 100px;
    margin: 10px;
}

.form-control {
    width: 500px;
    margin: 0;
}

.form-control-message {
    width: 500px;
    margin: 0;
    height: 250px;
    border-style: none;
}

.btn {
    background-color: darkcyan;
    margin: 20px;
    width: 100px;
    padding: 10px;
    color: white;
}

.linkedIn {
    position: relative;
    text-align: right;
    margin-top: 0px;
    margin-right: -80px;
    color: rgb(145, 141, 141);
}

.github {
    position: relative;
    text-align: right;
    margin-top: 0px;
    margin-right: -80px;
    color: rgb(145, 141, 141);
}

.resume {
    position: relative;
    text-align: right;
    margin-top: -15px;
    margin-right: -80px;
}

footer {
    background: rgb(53, 52, 52);
    color: white;
    padding: 10px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-left: -163px;
    position: fixed;
    bottom: 0;
}





