h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    width: 100%;
    margin-top: -13px;
}

title {
    margin-top: 0;
    padding: 0;
}

.navLogo {
    height: 100%;
    width: 150px;
    padding: 0;
    margin-top: -15px;
    margin-bottom: -12px;
    margin-left: 50px;
    color: white;
}

.navName {
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
 }

 .navAbout {
     justify-content: space-between;
     margin: 10px;
     color: white;
 }

 .navPortfolio {
     justify-content: space-between;
     margin: 10px;
     color: white;
 }

.navContact {
    justify-content: space-evenly;
    margin: 10px;
    color: white;
}

.page-header {
    margin-top: 50px;
    margin-left: 60px;
    padding: 5px;
    color: black;
    font-family: serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;    
}

.container1 {
    margin-top: -30px;
}

.container2 {
    position: relative;
}

.cooking {
    margin-top: -20px;
    margin-left: 50px;
    margin-bottom: 0px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.cuisineText {
    margin-left: 60px;
    margin-top: 0px;
    width: 150px;
    font-size: medium;
}

.cuisineCredit {
    font-size: x-small;
    margin-left: 60px;
    margin-top: 0px;
    width: 180px;
    height: 20px;
}

.password {
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 0px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.passwordText {
    margin-left: 50px;
    margin-top: 0px;
    width: 150px;
    font-size: medium;
}

.passwordCredit {
    font-size: x-small;
    margin-left: 50px;
    margin-top: 0px;
    width: 180px;
    height: 20px;
}

.employee {
    margin-top: -20x;
    margin-left: 50px;
    margin-bottom: -20px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.employeeText {
    margin-left: 60px;
    margin-top: 15px;
    width: 150px;
    font-size: medium;
}

.employeeCredit {
    font-size: x-small;
    margin-left: 60px;
    margin-top: 0px;
    width: 180px;
    height: 20px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

footer {
    background: rgb(53, 52, 52);
    color: white;
    padding: 5px;
    font-size: small;
    text-align: center;
    width: 1500px;
    height: 50px;
    margin-left: -150px;
    position: absolute;
    bottom: -85px;
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
